<!--<div id="slides-container" class="slides-container width"> -->
     <div id="slides-container" class="slides-container width">
        <div>     
            <img src="images/intro-picture.jpg"  class="slide-image"/>
            <h2>Introduction</h2>
            <p>
                My name is Jimmy Chen and welcome to my website. I am an enterprising software developer and my current projects and articles posted on this page have been about machine learning and data mining. To learn more about me click the about me button. To find my resume click the resume button
            </p>                
            <p><a href="#" class="button button-slider">About me</a>
                <a href="#" class="button button-reversed button-slider">Resume</a>
            </p>        
        </div>
        <div>
            <h2>Search Engines with Machine Learning</h2>
            <p>
                Can machine learning differentiate between search engine results? From a series of patterns I will use naive bayes, and support vector machines as well as various word patterns with the same category search engines. Can we find something about the page ranking tech of the search engines. 
            </p>
            <p><a href="#" class="button button-slider">More information</a></p>
        </div>
        <div class="controls"><span class="jFlowNext"><span>Next</span></span><span class="jFlowPrev"><span>Prev</span></span></div>        
        <div id="myController" class="hidden">
        COPY AND PASTE SLIDE CONTROL FOR EACH NEW SLIDE 
          <span class="jFlowControl">Slide 1</span>
          <span class="jFlowControl">Slide 2</span>
       </div>
    </div>
        
        <!--
        <div class="controls">
            <span class="jFlowNext"><span>Next</span></span>
            <span class="jFlowPrev"><span>Prev</span></span>
        </div>
        <div id="myController" class="hidden">
            COPY AND PASTE SLIDE CONTROL FOR EACH NEW SLIDE 
              <span class="jFlowControl">Slide 1</span>
              <span class="jFlowControl">Slide 2</span>
            </div>     
        </div>
    -->



