<!doctype html>
<html ng-app="articleapp" ng-controller="ArticleCtrl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title ng-bind="article.title"></title>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/articleapp.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<div id="container">
    <header>    
        <nav>
            <div class="width">
                <ul class="sf-menu dropdown">
                    <li class="selected"><a href="index.html">Home</a></li>
                    <li><a href="resume.html">Resume</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="aboutme.html">About Me</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </nav>
    </header>
</div>
    <div id="body" class="width">
        <h2>{{article.title}}</h2>
        <div class="article-time">Posted on
            <time datetime="{{article.dateNumber}}">{{article.dateText}}</time>
        </div>
        <div>
            <div ng-repeat="articleComponent in article.articleComponents">
                <img ng-repeat="image in articleComponent.images" ng-src="{{image}}"/>
                <p ng-repeat="text in articleComponent.texts">{{text}}</p>
            </div>
        </div>
    </div>
</body>
</html>